//Fontes
$fontPrincipal: Roboto,sans-serif;

//Esquema de cores home
$colorPrimary: #00a2ff;
$colorSecondary: #421EAA;
$white: #fff;
$grey: #ccc;
$grey2: #5e5b5b;
$red: red;
$black: #000;
$boxShadow: #0000006b;


//Esquema de cores Front - end
$frontColorDestaqued: #0effff;
$frontColorPurple1:#552c65;
$frontColorPurple2:#8467bd;
$frontColorPurple3:#ee93cd;

//Esquema de cores Back - end
$backColorDestaqued: #b2ee0d;
$backColorGreen1:#0c3a19;
$backColorGreen2:#268b1d;
$backColorGreen3:#48bd3d;
$backColorGreen4:#4ad295;
$backColorGreen5:#92e3a9;

//Esquema de cores FullStack
$fullColorDestaqued: #fd8719;
$fullColorOrange1:#af2b03;
$fullColorOrange2:#c75204;
$fullColorOrange3:#ec8c2c;
$fullColorOrange4:#fdac5b;

//Esquema de cores UX - UI
$uxColorDestaqued: #ff70f5;
$uxColorPurple:#3a0436;
$uxColorRose1:#d831cd;
$uxColorRose2:#f374eb;
$uxColorRose3:#f890f1;

