@use '../../../styles/config/global.scss';
@use '../../../styles/config/variaveis.scss';


#hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 60px;
  place-items: center;
  align-items: center;
  padding: 5.6vw;
  background-image: linear-gradient(
    to top,
    variaveis.$backColorGreen1,
    variaveis.$backColorGreen4,
    variaveis.$backColorGreen4,
    variaveis.$backColorGreen4,
    variaveis.$backColorGreen1
  );
  width: 100%;
  height: 100vh;
  position: relative;
  color: #fdffff;
  z-index: 1;

  &::after {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    content: "";
  }

  .hero__text{
    h1 {
      margin-bottom: 16px;
    font-size: 60px;
    word-spacing: 4px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 20px;
    }

    p {
      color: variaveis.$backColorDestaqued;
      font-size: 24px;
      font-weight: bold;
    }

    ul li {
      list-style: circle;
      margin-left: 18px;
      font-size: 18px;
      margin-bottom: 16px;
    }
  }

  .background__animation {
    display: flex;
    align-items: end;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;

    img {
      width: 50%;
    }
  }

  .setaBaixo {
    display: none;
    width: 40px;
    position: absolute;
    bottom: 20px;
    display: none;
    animation-duration: 1s;
    animation-name: slidein;
    animation-iteration-count: infinite ;
  }


  @keyframes slidein {
    from {
      transform: translateY(-20px);
    }

    to {
      transform: translateY(0px);
    }
  }

  .registration__form {
    background-color: variaveis.$backColorGreen1;
    .border--top {
      border-color: variaveis.$backColorGreen2;
    }
    form {
      input:focus {
        outline: 2px solid variaveis.$backColorDestaqued;
      }
      #cel {
        border-color: transparent;
      }
      button {
        background-color: variaveis.$backColorGreen2;
        &:hover {
          background-color: variaveis.$backColorGreen3;
        }
      }
      .disabled,
      .disabled:hover {
        cursor: auto;
        background-color: #ccc;
      }
    }
  }

  @media screen and (max-width: 480px) {
    display: flex;
    flex-direction: column;
    padding: 5.6vw 0;
    height: 100vh;
    padding-bottom: 40px;

    .hero__text {
      h1 {
        margin-bottom: 24px;
        font-size: 28px;
        margin-top: 20px;
      }
      p {
        font-size: 14px;
      }
      ul li {
        list-style: none;
        font-size: 14px;
        margin-bottom: 20px;
        margin-left: 0;
      }
    }
    .container {
      max-width: 100%;
      width: 100%;
      padding: 5.6vw;
    }

    .background__animation img{
      width: 100%;
    }
    .registration__form {
      display: none;
    }
    .setaBaixo {
      display: block;
    }
  }
  @media (max-height: 480px) and (orientation: landscape) {
    .background__animation img {
      margin-left: 400px;
    }
  }
  @media screen and (min-width: 481px) and (max-width: 768px)  {
    display: flex;
    align-items: start;
    padding: 0 4vw;
    height: 100vh;

    .container {
      max-width: 100%;
      width: 100%;
      padding: 5.6vw;
    }

    .background__animation img {
      width: 80%;
    }

    .hero__text {
      p {
        font-size: 20px;
      }

      h1 {
        margin-bottom: 30px;
        font-size: 38px;
        margin-top: 20px;
      }

      ul li {
        list-style: none;
        margin-left: 0;
        font-size: 20px;
        margin-bottom: 14px;
      }
    }
    .registration__form {
      display: none;
    }
  }
  @media screen and (min-width: 769px) and (max-width: 1024px) {
    display: flex;
    flex-direction: column;
    row-gap: 0;
    justify-content: space-around;
    align-items: center;
    padding: 4vw;
    height: 100vh;

    .hero__text{
      h1 {
        margin-bottom: 24px;
        font-size: 38px;
        margin-top: 20px;
      }

      p {
        font-size: 18px;
      }

      ul li {
        font-size: 18px;
        margin-bottom: 14px;
      }
    }

    .container {
      max-width: 100%;
      width: 100%;
    }
    .background__animation {
      align-items: center;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .setaBaixo {
      display: none;
    }
  }

  @media (min-width: 769px) and (max-width: 1024px) and (orientation: landscape) {
    .registration__form {
      display: none;
    }
  }
  @media screen and (min-width: 1025px) and (max-width: 1200px) {
    .hero__text {
      h1 {
        font-size: 50px;
      }
      p {
        font-size: 22px;
      }
      ul li {
        font-size: 22px;
      }

    }
    .background__animation img {
      width: 70%;
    }
  }
}


